@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #4d4d4d;
}

.footer {
  background-color: #eeeeee;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.right-links,
.left-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.right-links {
  margin-right: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
}


/* I KEEP FORGETTING THAT LIST ITEMS HAVE A F*****G PADDING OF > 0 */